@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */
  --color-brand-primary: #10b981; /* Brand Primary Color */
  --color-brand-secondary: #34d399; /* Brand Secondary Color */
  --color-brand-tertiary: #a3e635; /* Brand Tertiary Color */

  /* Brand Gradient */
  --color-brand-gradient-start: #10b981; /* Start of Gradient */
  --color-brand-gradient-end: #a3e635; /* End of Gradient */

  /* Point Colors */
  --color-point-purple: #a855f7; /* Point Color Purple */
  --color-point-blue: #3b82f6; /* Point Color Blue */
  --color-point-cyan: #06b6d4; /* Point Color Cyan */
  --color-point-pink: #ec4899; /* Point Color Pink */
  --color-point-rose: #f43f5e; /* Point Color Rose */
  --color-point-orange: #f97316; /* Point Color Orange */
  --color-point-yellow: #eab308; /* Point Color Yellow */

  /* Background Colors */
  --color-background-primary: #0f172a; /* Primary Background Color */
  --color-background-secondary: #1e293b; /* Secondary Background Color */
  --color-background-tertiary: #334155; /* Tertiary Background Color */
  --color-background-inverse: #ffffff; /* Inverse Background Color */

  /* Interaction Colors */
  --color-interaction-normal: #94a3b8; /* Default Interaction Color */
  --color-interaction-inactive: #94a3b8; /* Inactive State Color */
  --color-interaction-hover: #059669; /* Hover State Color */
  --color-interaction-pressed: #047857; /* Pressed State Color */
  --color-interaction-focus: #10b981; /* Focused State Color */

  /* Border Colors */
  --color-border-primary: #f8fafc; /* Primary Border Color */
  --color-border-secondary: #f8fafc 50%; /* Secondary Border Color with Opacity */
  --color-border-tertiary: #f8fafc 50%; /* Tertiary Border Color with Opacity */

  /* Text Colors */
  --color-text-primary: #f8fafc; /* Primary Text Color */
  --color-text-secondary: #cbd5e1; /* Secondary Text Color */
  --color-text-tertiary: #e2e8f0; /* Tertiary Text Color */
  --color-text-danger: #dc2626; /* Danger Text Color */
  --color-text-default: #64748b; /* Default Text Color */
  --color-text-inverse: #ffffff; /* Inverse Text Color */
  --color-text-disabled: #94a3b8; /* Disabled Text Color */

  /* Status Colors */
  --color-status-brand: #10b981; /* Brand Status Color */
  --color-status-danger: #dc2626; /* Danger Status Color */

  /* Icon Colors */
  --color-icon-primary: #64748b; /* Primary Icon Color */
  --color-icon-inverse: #f8fafc; /* Inverse Icon Color */
  --color-icon-warning: #f8fafc; /* Warning Icon Color */
  --color-icon-brand: #10b981; /* Brand Icon Color */
  --color-icon-danger: #dc2626; /* Danger Icon Color */
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #0f172a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  border: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

*,
:after,
:before {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-4xl {
    @apply text-[40px] font-medium leading-[48px];
  }

  .text-3xl-bold {
    @apply text-[32px] font-bold leading-[38px];
  }

  .text-3xl-semibold {
    @apply text-[32px] font-semibold leading-[38px];
  }

  .text-2xl-bold {
    @apply text-[24px] font-bold leading-[28px];
  }

  .text-2xl-semibold {
    @apply text-[24px] font-semibold leading-[28px];
  }

  .text-2xl-medium {
    @apply text-[24px] font-medium leading-[28px];
  }

  .text-2xl-regular {
    @apply font-regular text-[24px] leading-[28px];
  }

  .text-xl-bold {
    @apply text-[20px] font-bold leading-[24px];
  }

  .text-xl-semibold {
    @apply text-[20px] font-semibold leading-[24px];
  }

  .text-xl-medium {
    @apply text-[20px] font-medium leading-[24px];
  }

  .text-xl-regular {
    @apply font-regular text-[20px] leading-[24px];
  }

  .text-2lg-bold {
    @apply text-[18px] font-bold leading-[21px];
  }

  .text-2lg-semibold {
    @apply text-[18px] font-semibold leading-[21px];
  }

  .text-2lg-medium {
    @apply text-[18px] font-medium leading-[21px];
  }

  .text-2lg-regular {
    @apply text-[18px] font-normal leading-[21px];
  }

  .text-lg-bold {
    @apply text-[16px] font-bold leading-[19px];
  }

  .text-lg-semibold {
    @apply text-[16px] font-semibold leading-[19px];
  }

  .text-lg-medium {
    @apply text-[16px] font-medium leading-[19px];
  }

  .text-lg-regular {
    @apply text-[16px] font-normal leading-[19px]; /* or font-regular */
  }

  .text-md-bold {
    @apply text-[14px] font-bold leading-[17px];
  }

  .text-md-semibold {
    @apply text-[14px] font-semibold leading-[17px];
  }

  .text-md-medium {
    @apply text-[14px] font-medium leading-[17px];
  }

  .text-md-regular {
    @apply text-[14px] font-normal leading-[17px]; /* or font-regular */
  }

  .text-sm-semibold {
    @apply text-[13px] font-semibold leading-[16px];
  }

  .text-sm-medium {
    @apply text-[13px] font-medium leading-[16px];
  }

  .text-xs-semibold {
    @apply text-[12px] font-semibold leading-[14px];
  }

  .text-xs-medium {
    @apply text-[12px] font-medium leading-[14px];
  }

  .text-xs-regular {
    @apply text-[12px] font-normal leading-[14px]; /* or font-regular */
  }
}
